<header class="bg-base-100 text-base-content sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-shadow duration-300 ease-in-out">
    <div class="navbar w-full bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">COMP3030J</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    {% include '/components/theme-controller.j2' %}
                </li>
                <li><a>Sign In</a></li>
                <li><a>Sign Up</a></li>
            </ul>
        </div>
    </div>
</header>
