<div class="size-full flex flex-col p-3">
    <section>
        <div class="flex flex-col items-center mt-4">
            <h1 class="text-3xl font-bold text-base-content">Electricity Prices</h1>
            <span class="text-base-content-shadow mt-2">Visualize Electricity Prices in Ireland over different years.</span>
        </div>
    </section>
    <section class="flex-grow m-8">
        <div class="bg-base-200 flex flex-col items-center justify-center  w-full h-full">
            Here put the electricity prices chart
        </div>
    </section>

{#    <div class="mt-4 h-full">#}
{#        <select class="select select-bordered w-full max-w-xs" id="yearSelect" onchange="updatePricesChart()">#}
{#            <option class="text-cyan-500" disabled selected>Historical Irish Electricity Prices</option>#}
{#            <option value="2018">2018</option>#}
{#            <option value="2019">2019</option>#}
{#            <option value="2020">2020</option>#}
{#            <option value="2021">2021</option>#}
{#            <option value="2022">2022</option>#}
{#            <option value="2023">2023</option>#}
{#            <option value="2024">2024</option>#}
{#        </select>#}
{#        <div class="bg-base-400" id="pricesChart" style="height: 100%"></div>#}
{#    </div>#}

</div>

<script type="text/javascript" src="https://registry.npmmirror.com/echarts/5.5.0/files/dist/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/chart/his_irish_ele_prices.js"></script>
