{# header is h-16, which is of 4rem height #}
<div class="flex flex-col min-h-[calc(100vh-4rem)] overflow-hidden supports-[overflow:clip]:overflow-clip">
    <section class="relative">
        <div id="hero-bg-0" data-aos="enlarge-125" class="absolute inset-0 z-0 bg-base-100 transition-transform bg-cover duration-1000"></div>
        <div class="size-full relative bg-opacity-80 z-10">
            <div class="hero min-h-[calc(100vh-4rem)]">
                <div class="hero-content text-center flex-col">
                    <div>
                        <h1 class="text-5xl font-bold" data-aos="zoom-out" data-aos-duration="400">Welcome to SolarScape website</h1>
                        <p class="py-4" data-aos="zoom-out" data-aos-delay="150">
                            Our company, <strong>M</strong>ake <strong>E</strong>ach <strong>O</strong>ne <strong>W</strong>orthwhile, is dedicated to creating sustainable energy solutions. <br>
                            We specialise in developing digital tools for solar energy analytics. <br>
                            Our mission is to facilitate the transition of small businesses to rooftop solar panels. <br>
                            The <strong>SolarScape</strong> project is our latest initiative, conceived in response to the needs of leading solar panel manufacturers and marketers <br>
                            seeking to enhance their product sales to companies aiming to improve sustainability and reduce electricity bills.</p>
                    </div>
                    <a href="/dashboard" class="btn btn-primary" data-aos="zoom-out-up" data-aos-delay="450">
                        Go to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="relative">
        <div
            class="hero min-h-[calc(100vh-4rem)] bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Hello world</h1>
                    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                    <button class="btn btn-primary">Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <section class="relative">
        <div
            class="hero min-h-[calc(100vh-4rem)] bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Hello there</h1>
                    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                    <button class="btn btn-primary">Get Started</button>
                </div>
            </div>
        </div>
    </section>

</div>
