{# header is h-16, which is of 4rem height #}
<div class="flex flex-col min-h-[calc(100vh-4rem)] overflow-hidden supports-[overflow:clip]:overflow-clip">
    <section class="relative">
        <div data-scroll
            data-scroll-repeat
            data-scroll-call="hero-bg-0-scroll"
            id="hero-bg-0" class="absolute inset-0 z-0 bg-base-100 transition-transform bg-cover duration-1000">
        </div>
        <div class="size-full relative bg-opacity-80 z-10">
            <div class="hero min-h-[calc(100vh-4rem)]">
                <div class="hero-content text-center flex-col">
                    <div class="">
                        <h1 class="text-5xl font-bold"
                            data-scroll
                            data-scroll-class="scroll-opacity">El Psy Kongroo</h1>
                        <p class="py-6"
                            data-scroll
                            data-scroll-class="scroll-opacity">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                    {# the size of the following div will be limited since it's in a flex box and it's aspect retio #}
                    <div class="w-10/12 min-w-80 aspect-[16/9]"
                        data-scroll
                        data-scroll-class="scroll-opacity">
                        <iframe class="size-full" src="https://www.youtube.com/embed/AEUffI4nAIM?si=3zj_GBuhgro2LF1t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <button class="btn btn-primary"
                        data-scroll
                        data-scroll-class="scroll-opacity">
                        Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <section class="relative">
        <div
            class="hero min-h-[calc(100vh-4rem)] bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold"
                        data-scroll
                        data-scroll-class="scroll-opacity">Hello there</h1>
                    <p class="py-6"
                        data-scroll
                        data-scroll-class="scroll-opacity">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                    <button class="btn btn-primary"
                        data-scroll
                        data-scroll-class="scroll-opacity">Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <section class="relative">
        <div
            class="hero min-h-[calc(100vh-4rem)] bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Hello there</h1>
                    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                    <button class="btn btn-primary">Get Started</button>
                </div>
            </div>
        </div>
    </section>

</div>
