<h1 class="text-3xl font-bold underline">
    translation demo: `El Psy Kongroo` -> `{{ gettext("El Psy Kongaroo") }}`
</h1>
<button class="btn">daisyui showcase</button>

<div class="flex flex-col min-h-screen overflow-hidden supports-[overflow:clip]:overflow-clip">
</div>
