SECRET_KEY="secret" # python -c 'import secrets; print(secrets.token_hex())'
SQLALCHEMY_DATABASE_URI="sqlite:///comp3030j.db"
LANGUAGES=['en', 'zh']
OPENAI_API_KEY="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"
NEWS_API_KEY="590da50736284e36986ee5cddabc1624"
