{% extends '/page/dashboard/base.j2' %}

{% block body_inner %}
    {% include '/page/dashboard/layout0/header.j2' %}

    {# page will be loaded by htmx #}
    <main id="main" hx-get="/dashboard/index" hx-trigger="load"></main>
{% endblock %}
