{% from '/component/theme-controller.j2' import theme_controller %}
{% from '/component/language-controller.j2' import language_controller %}
{% from '/component/logo.j2' import logo %}
<header id="sticky-header"
        class="w-full bg-base-100 text-base-content sticky top-0 z-30 h-16 flex justify-center bg-opacity-80 backdrop-blur transition-shadow duration-100">
    <div class="navbar w-full">
        <div class="flex-1">
            <div class="flex-1">
                {{ logo("", "hidden xl:block", "") }}
            </div>
        </div>
        <nav class="flex-none lg:hidden">
            <label for="drawer-controller" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </label>
        </nav>
        <nav class="flex-none hidden lg:block">
            <ul class="menu menu-horizontal px-1 items-center gap-1">
                <!-- Home Button -->
                <li><a href="{{ url_for('landing.index') }}" class="btn btn-ghost">{{ _("Home") }}</a></li>

                <li>
                    {{ theme_controller("p-0 mx-2") }}
                </li>
                <li>
                    {{ language_controller("p-0 mx-2") }}
                </li>
                <li>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                            </svg>
                        </a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}" class="btn btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"/>
                            </svg>
                        </a>
                    {% endif %}
                </li>
                <div class="avatar">
                    <div class="avatar w-9 ring-1 text-neutral-content rounded-full">
                        {% if form.avatar_file %}
                            <img src="/static/profile_pics/{{ form.avatar_file }}">
                        {% else %}
                            <div class="avatar placeholder">
                                <div class="bg-neutral text-neutral-content rounded-full w-9">
                                    <span class="text-xs">{{ form.username }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>
