<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col items-center">
        <!-- Page content here -->
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" checked="checked"/>
            <div class="collapse-title text-xl font-medium">
                Click to open this one and close others
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2"/>
            <div class="collapse-title text-xl font-medium">
                Click to open this one and close others
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2"/>
            <div class="collapse-title text-xl font-medium">
                Click to open this one and close others
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>

    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base">
            <!-- Sidebar content here -->
            <li><a class="font-normal" href="{{ url_for('auth.profile') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path fill="currentColor" d="M406.5 399.6c-19.1-46.7-65-79.6-118.5-79.6h-64c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256c0-114.9 93.1-208 208-208s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6m-40.1 32.7c-32 20.1-69.8 31.7-110.4 31.7s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m0-272a40 40 0 1 1 0-80a40 40 0 1 1 0 80m-88-40a88 88 0 1 0 176 0a88 88 0 1 0-176 0"/></svg>
                Your info
            </a></li>
            <li><a class="font-normal">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path fill="currentColor" d="M464 256a208 208 0 1 1-416 0a208 208 0 1 1 416 0M0 256a256 256 0 1 0 512 0a256 256 0 1 0-512 0m232-136v136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24"/></svg>
                History
            </a></li>
        </ul>
    </div>
</div>
