{% extends 'page/dashboard/layout0/index.j2' %}

{% block links %}
    {{ super() }}
    <script type="module" src="/static/js/dashboard.ts"></script>
{% endblock %}

{% block main %}
    <div id="main" hx-get="/dashboard/index" hx-trigger="load"></div>
{% endblock %}
