{% extends 'base.j2' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include '/page/dashboard/header.j2' %}
{% endblock %}

{% block main %}
    
{% endblock %}

{% block footer %}
{% endblock %}

