{% extends "base.j2" %}
{% from '/component/theme-controller.j2' import theme_controller %}
{% from '/component/logo.j2' import logo %}
{% block links %}
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link href="/static/css/main.css" rel="stylesheet">
<script type="module" src="/static/js/main.ts"></script>
{% endblock %}

{% block body_inner %}
<div class="drawer-content">
    {% include '/page/auth/header1.j2' %}
</div>
<div class="flex items-center justify-center min-h-screen bg-base-200">
    <div class="container p-5 shadow-2xl rounded-lg max-w-md mx-auto bg-base-100">
        <div class="text-center mb-6">
            {{ logo("", "inline-block", "") }}
        </div>
        <form action="{{ url_for('auth.login') }}" method="POST" class="form-control w-full">
            <h2 class="text-xl font-bold text-center mb-4">{{ _("Login") }}</h2>
            {{ form.hidden_tag() }}
            {% macro render_field(field) %}
                <div class="form-group mb-2">
                    {{ field.label(class="label text-sm") }}
                    {% if field.errors %}
                        {{ field(class="input input-bordered input-error w-full text-sm ") }}
                        <div class="alert alert-error shadow-lg mt-1 p-2 text-xs" style="background-color: #FECACA; color: #B91C1C;">
                            <div>
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>{% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {{ field(class="input input-bordered w-full text-sm") }}
                    {% endif %}
                </div>
            {% endmacro %}

            {{ render_field(form.email) }}
            {{ render_field(form.password) }}

            <div class="form-group form-check mb-4">
                <label class="cursor-pointer label">
                    {{ form.remember(class="checkbox") }}
                    <span class="label-text">{{ form.remember.label.text }}</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary w-full text-sm py-2">{{ _("Login") }}</button>
            <div class="text-center mt-4 text-sm">
                <a href="{{ url_for('auth.register') }}" class="link link-secondary" style="color: #6B7280;">{{ _("Need An Account? Sign Up") }}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
