{% from '/component/theme-controller.j2' import theme_controller %}
{% from '/component/logo.j2' import logo %}

<header id="sticky-header" class="w-full bg-base-100 text-base-content sticky top-0 z-30 h-16 flex justify-center bg-opacity-80 backdrop-blur transition-shadow duration-100">
    <div class="navbar w-full">
        <div class="flex-1">
            {{ logo("", "hidden xl:block", "") }}
        </div>
        <nav class="flex-none">
            <ul class="menu menu-horizontal px-1 items-center gap-1">
                <li>
                    {{ theme_controller("p-0") }}
                </li>
                
            </ul>
        </nav>
        <nav class="flex-none lg:hidden">
            <label for="drawer-controller" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>
        </nav>
    </div>
</header>


{% from '/component/theme-controller.j2' import theme_controller %}
{% extends "base.j2" %}

{% block links %}
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link href="/static/css/main.css" rel="stylesheet">
<script type="module" src="/static/js/main.ts"></script>
{% endblock %}

{% block body_inner %}
<div class="register-container p-4 shadow-lg rounded-lg max-w-md mx-auto mt-10 bg-base-100">
  <form action="/register" method="post" class="form-control">
    <h2 class="text-2xl font-bold mb-4">Register</h2>
    {% include "component/header.j2" %}
    <div class="form-group">
      <label for="username" class="label">
        <span class="label-text">Username:</span>
      </label>
      <input type="text" id="username" name="username" class="input input-bordered" required>
    </div>
    <div class="form-group">
      <label for="email" class="label">
        <span class="label-text">Email:</span>
      </label>
      <input type="email" id="email" name="email" class="input input-bordered" required>
    </div>
    <div class="form-group">
      <label for="password" class="label">
        <span class="label-text">Password:</span>
      </label>
      <input type="password" id="password" name="password" class="input input-bordered" required>
    </div>
    <div class="form-group mt-4">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
{% endblock %}
