{% macro logo(additional_classes) -%}
    <a class="btn btn-ghost text-xl {{- additional_classes -}}">SolarScape</a>
{%- endmacro %}

{% macro textLogo(additional_classes) %}
    <a class="btn btn-ghost text-xl {{- additional_classes -}}">SolarScape</a>
{%- endmacro %}

{% macro imageLogo(additional_classes) %}
    <a class="btn btn-ghost text-xl {{- additional_classes -}}">SolarScape</a>
{%- endmacro %}


