<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}COMP3030J{% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block links %}
            <!-- inter font: if you don't use inter font, you may need to change the -->
            <!-- `font-inter` class below on `body` element (though it has fallback fonts). -->
            <link rel="preconnect" href="https://rsms.me/">
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        {% endblock %}
    </head>
    {% block body %}
        <!-- NOTE: `additional_body_class` can override the former classes -->
        <body class="font-inter antialiased base-100 text-base-content {% block additional_body_class %}{% endblock %}">
            {% block body_inner %}
                {% block header %}
                    {% include 'components/header.j2' %}
                {% endblock %}
                
                {% block main %}
                {% endblock %}
                
                {% block footer %}
                {% endblock %}
            {% endblock %}
        </body>
    {% endblock %}
</html>
