{% extends 'base.j2' %}

{% block header %}
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1 class="text-3xl font-bold underline">
        El Psy Kongaroo
    </h1>
{% endblock %}
