
<div class="size-full flex flex-col p-3">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Geocode" onclick="geocodeAddress()">
    <div id="map" style="height: 500px; width: 500px;"></div>
    <div style="background-color: #fff; padding: 10px; border-radius: 2px; box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3); margin: 10px;width: 150px;">
        <input id="lat" type="text" readonly>
        <input id="lon" type="text" readonly>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKcVzcRDywvdqWYnps09kexWfEHQqqyqc&callback=initMap&libraries=&v=weekly" async></script>
<script>
    let map;
    let geocoder;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
        });
        geocoder = new google.maps.Geocoder();
    }

    function geocodeAddress() {
        const address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function(results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location);
                new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                document.getElementById('lat').value = results[0].geometry.location.lat();
                document.getElementById('lon').value = results[0].geometry.location.lng();
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
