<div class="size-full flex flex-col p-3">
    <header class="flex flex-col items-center mt-4">
        <h1 class="text-3xl font-bold text-base-content">Search Policy</h1>
        <span class="text-base-content-shadow m-2">You can explore the relevant policy here!</span>
    </header>
    <section class="flex justify-center m-2">
        <div class="w-1/5"></div>
        <div class="w-3/5">
            <script async src="https://cse.google.com/cse.js?cx=427b32b2927c54148"></script>
            <div class="gcse-search"></div>
        </div>
        <div class="w-1/5"></div>
    </section>
</div>
