
<div class="size-full flex flex-col p-3">
    <header class="flex flex-col items-center mt-4">
        <h1 class="text-3xl font-bold text-base-content">{{ _("Search Policy")}}</h1>
        <span class="text-base-content-shadow m-2">{{ _("You can explore the relevant policy here!")}}</span>
    </header>
    <section class="flex justify-center m-2">
        <div class="w-1/5"></div>
        <div class="w-3/5">
            <script async src="https://cse.google.com/cse.js?cx=427b32b2927c54148"></script>
            <div class="gcse-search"></div>
        </div>
        <div class="w-1/5"></div>
    </section>
</div>

<CustomSearchEngine language="" safesearch="false" autocompletions="true" enable_promotions="false" top_refinements="-1">
<Title>SolarScape</Title>
<Description/>
<Context>
<BackgroundLabels>
<Label name="_include_" mode="FILTER"/>
<Label name="_exclude_" mode="ELIMINATE"/>
</BackgroundLabels>
</Context>
<LookAndFeel element_layout="1" theme="6" enable_cse_thumbnail="true" custom_theme="true" font="3">
<Colors url="" title="" visited="" title_hover="" title_active="" text="" background="#EDEDED" border=""/>
<Promotions title_color="" title_visited_color="" title_hover_color="" title_active_color="" background_color="" border_color="" url_color="" snippet_color=""/>
<SearchControls input_border_color="" button_icon_color="" button_border_color="" button_background_color="" tab_border_color="" tab_background_color="#EDEDED" tab_selected_border_color="" tab_selected_background_color="#D2D6DC"/>
<Results border_color="" border_hover_color="" background_color="" background_hover_color=""/>
<Logo url="/Users/alexandrawang/proj/comp3030j/static/image/logo.807f5995.webp" destination="" height="30"/>
<Widget query_parameter_name="q"/>
</LookAndFeel>
<ImageSearchSettings enable="false"/>
<cse_advance_settings enable_facet_search="false">
<web_search_options enable_history="true" show_structured_data="false">
<search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""/>
</web_search_options>
<image_advanced_options default_to_image_search="false">
<search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""/>
</image_advanced_options>
<search_options link_target=""/>
<custom_search_control_options no_results_string=""/>
</cse_advance_settings>
<sort_by_keys label="Relevance" key=""/>
<sort_by_keys label="Date" key="date"/>
<autocomplete_settings source="2"/>
</CustomSearchEngine>
