{% extends '/page/dashboard/base.j2' %}

{% block links %}
    {{ super() }}
    <script src="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui-bundle.js" crossorigin defer></script>
{% endblock %}

{% block body_inner %}
    <div class="flex">
        {% include '/page/dashboard/layout1/sidebar.j2' %}
        <main id="main" class="w-full h-screen ml-20 xl:ml-60" hx-get="/dashboard/index" hx-trigger="load"></main>
        {# page loaded by htmx #}
    </div>
{% endblock %}
