{% extends '/page/dashboard/base.j2' %}

{% block body_inner %}

    <div class="flex">
        <aside class="w-44 fixed left-0 top-0 h-screen bg-slate-700 p-10">
            <h1 class="text-white text-4xl">Sidebar</h1>
        </aside>
        {# page loaded by htmx #}
        <main id="main" hx-get="/dashboard/index" hx-trigger="load"></main>
    </div>
{% endblock %}
