{% from '/component/logo.j2' import logo, imageLogo %}
{% from '/component/theme-controller.j2' import theme_controller %}

{% macro api() -%}
    <li>
        <a hx-get="/dashboard/api_doc/apikey_management" hx-target="#main">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24"><path fill="currentColor" d="M6.5 21q-1.45 0-2.475-1.025T3 17.5t1.025-2.475T6.5 14H8v-4H6.5q-1.45 0-2.475-1.025T3 6.5t1.025-2.475T6.5 3t2.475 1.025T10 6.5V8h4V6.5q0-1.45 1.025-2.475T17.5 3t2.475 1.025T21 6.5t-1.025 2.475T17.5 10H16v4h1.5q1.45 0 2.475 1.025T21 17.5t-1.025 2.475T17.5 21t-2.475-1.025T14 17.5V16h-4v1.5q0 1.45-1.025 2.475T6.5 21m0-2q.625 0 1.063-.437T8 17.5V16H6.5q-.625 0-1.062.438T5 17.5t.438 1.063T6.5 19m11 0q.625 0 1.063-.437T19 17.5t-.437-1.062T17.5 16H16v1.5q0 .625.438 1.063T17.5 19M10 14h4v-4h-4zM6.5 8H8V6.5q0-.625-.437-1.062T6.5 5t-1.062.438T5 6.5t.438 1.063T6.5 8M16 8h1.5q.625 0 1.063-.437T19 6.5t-.437-1.062T17.5 5t-1.062.438T16 6.5z"/></svg>
            <span class="hidden xl:inline">{{ _("Management") }}</span>
        </a>
    </li>
    <li>
        <a hx-get="/dashboard/api_doc/restful" hx-target="#main">
            <svg class="h-5 w-5">
                <use href="#solar-document-text-linear"/>
            </svg>
            <span class="hidden xl:inline">{{ _("Restful API") }}</span>
        </a>
    </li>
    <li>
        <a hx-get="/dashboard/api_doc/graphql_playground" hx-target="#main">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 48 48">
                <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                    <path d="m10.777 30l7.242-14.961V4h12.01v11.039L37.245 30"/>
                    <path
                        d="M7.794 43.673a3.273 3.273 0 0 1-1.52-4.372L10.777 30S18 35 24 30c6-5 13.246 0 13.246 0l4.49 9.305A3.273 3.273 0 0 1 38.787 44H9.22c-.494 0-.981-.112-1.426-.327Z"/>
                </g>
            </svg>
            <span class="hidden xl:inline">{{ _("Graghql Playground") }}</span>
        </a>
    </li>
{%- endmacro %}

<svg style="display: none" version="2.0">
    <defs>
        <symbol viewBox="0 0 24 24" id="material-symbols-location-automation-outline">
            <path fill="currentColor"
                  d="M4 19V7l8-6l8 6v4h-2V8l-6-4.5L6 8v9h6v2H4Zm8-8.75ZM18.5 22l-1.4-3.1l-3.1-1.4l3.1-1.4l1.4-3.1l1.4 3.1l3.1 1.4l-3.1 1.4l-1.4 3.1Z"></path>
        </symbol>
    </defs>
    <use href="#material-symbols-location-automation-outline"/>
</svg>

<svg style="display: none" version="2.0">
    <defs>
        <symbol viewBox="0 0 24 24" id="material-symbols-account-tree-outline-rounded">
            <path fill="currentColor"
                  d="M15 19v-1h-2q-.825 0-1.412-.587T11 16V8H9v1q0 .825-.587 1.413T7 11H4q-.825 0-1.412-.587T2 9V5q0-.825.588-1.412T4 3h3q.825 0 1.413.588T9 5v1h6V5q0-.825.588-1.412T17 3h3q.825 0 1.413.588T22 5v4q0 .825-.587 1.413T20 11h-3q-.825 0-1.412-.587T15 9V8h-2v8h2v-1q0-.825.588-1.412T17 13h3q.825 0 1.413.588T22 15v4q0 .825-.587 1.413T20 21h-3q-.825 0-1.412-.587T15 19M4 5v4zm13 10v4zm0-10v4zm0 4h3V5h-3zm0 10h3v-4h-3zM4 9h3V5H4z"></path>
        </symbol>
    </defs>
    <use href="#material-symbols-account-tree-outline-rounded"/>
</svg>

<svg style="display: none" version="2.0">
    <defs>
        <symbol viewBox="0 0 32 32" id="carbon-tool-kit">
            <path fill="currentColor"
                  d="m8.914 24.5l4.257-4.257l-1.414-1.414L7.5 23.086l-.793-.793a1 1 0 0 0-1.414 0l-4 4a1 1 0 0 0 0 1.414l3 3a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0 0-1.414ZM5 28.586L3.414 27L6 24.414L7.586 26Z"></path>
            <path fill="currentColor"
                  d="M24 30a6.007 6.007 0 0 1-6-6a5.84 5.84 0 0 1 .21-1.547L9.548 13.79A5.848 5.848 0 0 1 8 14a5.976 5.976 0 0 1-5.577-8.184l.558-1.421l3.312 3.312a1.023 1.023 0 0 0 1.414 0a.999.999 0 0 0 0-1.414L4.393 2.979l1.423-.557A5.977 5.977 0 0 1 14 8a5.84 5.84 0 0 1-.21 1.547l8.663 8.663A5.855 5.855 0 0 1 24 18a5.976 5.976 0 0 1 5.577 8.184l-.557 1.421l-3.313-3.312a1.023 1.023 0 0 0-1.413 0a.999.999 0 0 0-.001 1.414l3.313 3.313l-1.422.558A5.96 5.96 0 0 1 24 30M10.063 11.476l10.46 10.462l-.239.609a3.975 3.975 0 0 0 3.466 5.445l-.871-.87a3 3 0 0 1 0-4.243a3.072 3.072 0 0 1 4.243 0l.87.871a3.976 3.976 0 0 0-5.446-3.466l-.609.239l-10.46-10.46l.24-.61A3.976 3.976 0 0 0 8.25 4.008l.87.87a3 3 0 0 1 0 4.243a3.072 3.072 0 0 1-4.243 0l-.87-.871a3.975 3.975 0 0 0 5.445 3.466Z"></path>
            <path fill="currentColor"
                  d="M29.123 2.85a3.072 3.072 0 0 0-4.243 0l-7.48 7.48l1.414 1.414l7.48-7.48a1.024 1.024 0 0 1 1.414 0a1.002 1.002 0 0 1 0 1.414l-7.48 7.48l1.414 1.415l7.48-7.48a3.003 3.003 0 0 0 0-4.243"></path>
        </symbol>
    </defs>
    <use href="#carbon-tool-kit"/>
</svg>

<svg style="display: none" version="2.0">
    <defs>
        <symbol viewBox="0 0 24 24" id="tdesign-api">
            <path fill="currentColor"
                  d="M.586 12L5 7.586L6.414 9l-3 3l3 3L5 16.414zm7-7L12 .586L16.414 5L15 6.414l-3-3l-3 3zM9 17.586l3 3l3-3L16.414 19L12 23.414L7.586 19zm1.998-4.584v-2.004h2.004v2.004zM17.586 15l3-3l-3-3L19 7.586L23.414 12L19 16.414z"></path>
        </symbol>
    </defs>
    <use href="#tdesign-api"/>
</svg>


<svg style="display: none" version="2.0">
    <defs>
        <symbol viewBox="0 0 24 24" id="solar-document-text-linear">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <path
                    d="M3 10c0-3.771 0-5.657 1.172-6.828C5.343 2 7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172C21 4.343 21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828C18.657 22 16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172C3 19.657 3 17.771 3 14z"></path>
                <path stroke-linecap="round" d="M8 12h8M8 8h8m-8 8h5"></path>
            </g>
        </symbol>
    </defs>
    <use href="#solar-document-text-linear"/>
</svg>



<aside
    class="fixed inset-y-0 left-0 bg-base-300 w-20 xl:w-60 flex flex-col overflow-x-hidden overflow-auto rounded-2xl m-2 ml-1">
    {# Logo #}
    <div class="shrink-0 p-2">
        <div class="w-full flex place-content-around">
            {{ logo("", "hidden xl:block", "") }}
            {{ theme_controller("p-0") }}
        </div>
    </div>

    {# Main Menu #}
    <div class="flex-1 overflow-y-auto p-2">
        <ul class="menu bg-base-200 rounded-box">
            <li>
                <a hx-get="/dashboard/index" hx-target="#main">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                    </svg>
                    <span class="hidden xl:inline">{{ _("Overview") }}</span>
                </a>
            </li>
            <li class="mt-1">
                <a hx-get="/dashboard/profile" hx-target="#main">
                    <svg class="h-5 w-5">
                        <use href="#material-symbols-account-tree-outline-rounded"/>
                    </svg>
                    <span class="hidden xl:inline">{{ _("Profiles") }}</span>
                </a>
            </li>
            <li class="mt-1">
                <a hx-get="/dashboard/tool/electricity_usage_calculator" hx-target="#main">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path
                                d="M3.464 20.536C4.93 22 7.286 22 12 22c4.714 0 7.071 0 8.535-1.465C22 19.072 22 16.714 22 12s0-7.071-1.465-8.536C19.072 2 16.714 2 12 2S4.929 2 3.464 3.464C2 4.93 2 7.286 2 12c0 4.714 0 7.071 1.464 8.535Z"/>
                            <path stroke-linecap="round"
                                  d="M18 8.5h-4m4 6h-4m4 3h-4m-4-9H8m0 0H6m2 0v-2m0 2v2m1.5 4L8 16m0 0l-1.5 1.5M8 16l-1.5-1.5M8 16l1.5 1.5"/>
                        </g>
                    </svg>
                    <span class="hidden xl:inline">{{ _("Electricity usage calculator") }}</span>
                </a>
            </li>
            <li class="mt-1">
                <a hx-get="/dashboard/tool/policy" hx-target="#main">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 1024 1024">
                        <path fill="currentColor"
                              d="M688 312v-48c0-4.4-3.6-8-8-8H296c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h384c4.4 0 8-3.6 8-8m-392 88c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h184c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm144 452H208V148h560v344c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V108c0-17.7-14.3-32-32-32H168c-17.7 0-32 14.3-32 32v784c0 17.7 14.3 32 32 32h272c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8m445.7 51.5l-93.3-93.3C814.7 780.7 828 743.9 828 704c0-97.2-78.8-176-176-176s-176 78.8-176 176s78.8 176 176 176c35.8 0 69-10.7 96.8-29l94.7 94.7c1.6 1.6 3.6 2.3 5.6 2.3s4.1-.8 5.6-2.3l31-31a7.9 7.9 0 0 0 0-11.2M652 816c-61.9 0-112-50.1-112-112s50.1-112 112-112s112 50.1 112 112s-50.1 112-112 112"/>
                    </svg>
                    <span class="hidden xl:inline">{{ _("Policy Search") }}</span>
                </a>
            </li>
            <li class="mt-1 hidden xl:block">
                <details class="hidden xl:block">
                    <summary>
                        <svg class="h-5 w-5">
                            <use href="#carbon-tool-kit"/>
                        </svg>
                        <span class="inline">{{ _("API Tools") }}</span>
                    </summary>
                    <ul>
                        {{ api() }}
                    </ul>
                </details>
            </li>
            <ul class="block xl:hidden">
                {{ api() }}
            </ul>
        </ul>
    </div>

    {# Footer #}
    <div class="shrink-0 p-2 flex flex-col border-t-2 border-[var(--fallback-bc,oklch(var(--bc)/.1))]">
        <div class="flex h-full items-center justify-center xl:justify-start">
            <div class="avatar">
                <div class="w-12 rounded-full">
                    {% if current_user.avatar_file %}
                        <img src="{{ url_for('static', filename='profile_pics/'+ current_user.avatar_file) }}"
                             alt="logo">
                    {% else %}
                        <div class="avatar placeholder">
                            <div class="bg-neutral text-neutral-content rounded-full w-36">
                                <span class="text-3xl">{{ current_user.username }}</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="hidden xl:block ml-2 font-bold">
                {{ current_user.username }}
            </div>
            <div class="grow block hidden xl:block"></div>
            <div class="">
                <div class="dropdown dropdown-top dropdown-end">
                    <div tabindex="0" role="button" class="btn m-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="1.75" fill="currentColor"/>
                            <circle cx="12" cy="5" r="1.75" fill="currentColor"/>
                            <circle cx="12" cy="19" r="1.75" fill="currentColor"/>
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu p-2 shadow rounded-box w-44 bg-base-100 place-items-end">
                        <li>
                            <a href="{{ url_for('auth.logout') }}" class="btn bg-base-100 border-0">
                                {{ _("Logout") }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                                </svg>
                            </a>
                        </li>
                        <li><a href="{{ url_for('auth.profile') }}" class="btn bg-base-100 border-0">{{ _("My Account") }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M406.5 399.6c-19.1-46.7-65-79.6-118.5-79.6h-64c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256c0-114.9 93.1-208 208-208s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6m-40.1 32.7c-32 20.1-69.8 31.7-110.4 31.7s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m0-272a40 40 0 1 1 0-80a40 40 0 1 1 0 80m-88-40a88 88 0 1 0 176 0a88 88 0 1 0-176 0"/>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>


