{# This file is used as an component to be replaced with the `#main` element in ../index.j2 file #}

<div>
    El Psy Kongroo
</div>
<div id="3d_chart" style="height: 900px"></div>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
<script src="/static/js/chart/3D_surface.js"></script>
