{# This file is used as an component to be replaced with the `#main` element in ../index.j2 file #}

<div class="size-full flex flex-col p-3">
    <div class="flex m-1">
        <h1 class="text-3xl font-bold text-base-content">Electricity Consumption</h1>
    </div>
    <div class="flex flex-col w-full lg:flex-row pt-8">
        <div class="grid flex-grow bg-base-300 h-full place-items-start">
            <select class="select select-bordered w-full max-w-xs">
                <option disabled selected>UCD</option>
                <option>A1</option>
                <option>A2</option>
            </select>
        </div>
        <div class="grid bg-base-300 w-60 h-full card place-items-center">
            <section id="action_panel" class="flex gap-3 m-1">
                <form action="{{ url_for('auth.upload_picture') }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" id="fileInput" style="display: none;"
                               onchange="this.form.submit()" accept=".csv, .xlsx, .xls">
                        <div class="indicator-item indicator-bottom">
                            <button type="button" class="btn rounded-box btn-xs sm:btn-sm md:btn-sm lg:btn-md"
                                    onclick="document.getElementById('fileInput').click()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12.554 2.494a.75.75 0 0 0-1.107 0l-4 4.375A.75.75 0 0 0 8.553 7.88l2.696-2.95V16a.75.75 0 0 0 1.5 0V4.932l2.697 2.95a.75.75 0 1 0 1.107-1.013z"/><path fill="currentColor" d="M3.75 15a.75.75 0 0 0-1.5 0v.055c0 1.367 0 2.47.117 3.337c.12.9.38 1.658.981 2.26c.602.602 1.36.86 2.26.982c.867.116 1.97.116 3.337.116h6.11c1.367 0 2.47 0 3.337-.116c.9-.122 1.658-.38 2.26-.982c.602-.602.86-1.36.982-2.26c.116-.867.116-1.97.116-3.337V15a.75.75 0 0 0-1.5 0c0 1.435-.002 2.436-.103 3.192c-.099.734-.28 1.122-.556 1.399c-.277.277-.665.457-1.4.556c-.755.101-1.756.103-3.191.103H9c-1.435 0-2.437-.002-3.192-.103c-.734-.099-1.122-.28-1.399-.556c-.277-.277-.457-.665-.556-1.4c-.101-.755-.103-1.756-.103-3.191"/></svg>
                            </button>
                        </div>
                    </form>
                <button class="btn btn-xs sm:btn-sm md:btn-sm lg:btn-md">Analysis</button>
            </section>
            <div class="stats stats-vertical shadow">
                <div class="stat">
                    <div class="stat-title">Downloads</div>
                    <div class="stat-value">31K</div>
                    <div class="stat-desc">Jan 1st - Feb 1st</div>
                </div>

                <div class="stat">
                    <div class="stat-title">New Users</div>
                    <div class="stat-value">4,200</div>
                    <div class="stat-desc">↗︎ 400 (22%)</div>
                </div>

                <div class="stat">
                    <div class="stat-title">New Registers</div>
                    <div class="stat-value">1,200</div>
                    <div class="stat-desc">↘︎ 90 (14%)</div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 440px;">
        <select class="select select-bordered max-w-xs border-white" id="yearSelect" onchange="updateChart()">
            <option class="text-cyan-500" disabled selected>Historical Irish Electricity Prices</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
        <div class="" id="ele" style="height: 100%"></div>
    </div>



    <section id="analysis_panel" class="flex m-1">
    </section>
</div>


<script type="text/javascript" src="https://registry.npmmirror.com/echarts/5.5.0/files/dist/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/chart/his_irish_ele_prices.js"></script>
